/* CSS Document */

.company-single-template { width: 100%; height: auto !important; }

.company-single-template .company-logo-header {
	height: 50px;
    width: auto;
	vertical-align: middle;
	margin-right: 16px;
}

#qe-onglets { 
	width: 100%;
	border-top: 1px solid #ccc;
}
#qe-onglets .ge-section {
	border: 1px solid #ccc;
	border-top: 0px solid #ccc;
	padding: 16px;
}
#qe-onglets .qe-question-title { 
	margin: 12px 0px;
	font-weight: bold;
}
#qe-onglets .qe-question-subtitle {
	margin-bottom:	12px;
}
#qe-onglets .qe-question-radio {
	margin-bottom: 0px;
}

#qe-onglets .qe-onglet-content .qe-question label {
    display: inline-block;
	width: 100%;
	vertical-align: middle;
}

#qe-onglets input[type="radio"] {
	margin-top: 5px;
	vertical-align: top;
	height: 16px;
	width: 16px;
    margin-right: 10px;
}
#qe-onglets p:empty { height: 0px; line-height: 0px;}

#qe-onglets span[role="alert"] {
	border: 1px solid #f00;
	color: #f00;
    font-size: 1em;
    font-weight: normal;
	display: block;
	padding: 0.2em 1em;
	margin-top: 6px;
}
#company-single-response {

}
#company-single-response table {
	border: 1px solid #ccc;
	border-bottom: none;
}
#company-single-response tr {
	border-bottom: 1px solid #ccc;

}#company-single-response td {
	padding: 6px;
}
#oneGraph {
	text-align: center;
	margin: 0px auto;
}

.warning {
	padding: 10px;
	border: 2px solid #c00;
	font-family: Arial, sans-serif;
	margin-bottom: 10px;
}
/*
CAMPAIGNS
*/
#campaigns-list {
	width:calc( 100% - 0px); 
	padding-bottom:10px;
}
#campaigns-list h2 {
	margin-bottom: 8px;
}

.campaign-item {
	width: 100%;
	font-family: Arial, sans-serif;
}

.campaign-item .campaign-cell-image {
	float:left; 
	margin-right:6px;
}

.campaign-item .campaign-cell-image .wp-post-image {
	border: none;
}

.campaign-item .campaign-cell-title {
	border: none;
}

.campaign-item .campaign-cell-title strong {
	border: none;
}
.campaign-cell-start,
.campaign-cell-end {
	
	font-size: smaller;
}
.campaign-cell-start i,
.campaign-cell-end i {
	font-weight: bold;
	font-style: italic;
}